<html>
    <head>
        <title>Node.js projects homepage</title>
        <link href="./assets/index-styles.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>
        <% include partial/nav.ejs %>
        <!-- <div class="jumbotron">
            <h1 class="display-5">Projekty NodeJS</h1>
            <p class="lead">
                To jest moja strona z przykładowymi projektami w NodeJS.
                Część tych projektów oparta jest o tutoriale dostępne na Youtube.
                Tutoriale te są jednak rzeczywiście 'przerobione' przeze mnie,
                poza tym starałem się je jakoś zmodyfikować, wzbogacić o pewne dodatkowe 
                funkcjonalności.
            </p>
            <!-- <hr class="my-2">
            <p>More info</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">Jumbo action name</a>
            </p> -->
    <!--    </div> -->

        <div class="card bg-light" style="margin:20px;">
            <div class="card-body" style="marginn: 20;">
                To jest moja strona główna z przykładowymi projektami.
                Część tych projektów, są to przerobione tutoriale z Youtube.
                Tutoriale te są jednak rzeczywiście 'przerobione' przeze mnie,
                pisane od poczatku do konca, nie tylko na zasadzie bezmyślnego 'copy/paste'. Poza tym staram się je
                jakoś zmodyfikować, wzbogacić o pewne dodatkowe funkcjonalności, aby lepiej przyswoic materiał w nich zawarty.
            </div>

            <div class="row">
                <div class="col col-md-6">
                    <div class="card" style="margin:10px;">
                        <div class="card-header bg-primary">
                            Todo App - użyte technologie
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Bootstrap</li>
                            <li class="list-group-item">MongoDB - mlab</li>

                        </ul>
                    </div>
                </div>
                <div class="col col-md-6">
                    <div class="card" style="margin:10px;">
                        <div class="card-header bg-primary">
                            Multichat App - użyte technologie
                        </div>
                        <!-- <ul class="list-group list-group-flush">
                            <li class="list-group-item">Bootstrap</li>
                            <li class="list-group-item">jquery</li>
                        </ul> -->
                        <div class="card-body">
                            Do aplikacji użyłem bootstrap oraz jquery
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    </body>
</html>