<html>
    <head>
        <title>Multichat</title>

        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="/assets/multichat-styles.css" rel="stylesheet" type="text/css" />

    </head>
    <body>
        <% include partial/nav.ejs %>
        
        <div id="mario-chat" class="flex-container">
            <div id="chat-area">
                <div id="chat-window">
                    <div id="output"></div>
                    <div id="feedback"></div>
                </div>
                <input id="handle" type="text" value="Guest" placeholder="Nazwa użytkownika" />
                <!-- <input id="message" type="text" placeholder="Wiadomość" /> -->
                <textarea id="message" type="text" placeholder="Wiadomość" rows="4"></textarea>
                <button id="send">Send</button>
            </div>
            <div id="users-list">
                <h4>Dostepni:</h4>
                <ul id="connected-users"></ul>
            </div>
            
        </div>
        
        <script src="/socket.io/socket.io.js"></script>
        <script src="/assets/chat.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>