<html>
    <head>
        <title>Todo list</title>

        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
        <script src="/assets/todo-list.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="/assets/styles.css" rel="stylesheet" type="text/css" />

    </head>
    <body>
        <% include partial/nav.ejs %>
        
        <!-- <h1>My todo list</h1> -->
        <div class="card bg-light" style="margin: 30px;">
            <div class="card-body">
                <div id="todo-table">
                    <form>
                        <input type="text" name="item" placeholder="Add new item..." required />
                        <button type="submit" class="btn btn-primary">Add item</button>
                    </form>
                    <ul>
                        <% for(var i=0; i < todos.length ; i++) { %>
                            <li><%=todos[i].item%></li>
                        
                        <% } %>
                    </ul>
                </div>
            </div>
        </div>

        <!-- <div id="todo-table">
            <form>
                <input type="text" name="item" placeholder="Add new item..." required />
                <button type="submit">Add item</button>
            </form>
            <ul>
                <% for(var i=0; i < todos.length ; i++) { %>
                    <li><%=todos[i].item%></li>
                
                <% } %>
            </ul>
        </div> -->

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>